* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/***********/
/*Scrollbar*/
/***********/
::-webkit-scrollbar {
    width: 7.5px; /*Ancho de la barra de desplazamiento*/
}
  
::-webkit-scrollbar-track {
    background-color: #000000; /*Color de fondo del track*/
}
  
::-webkit-scrollbar-thumb {
    background-color: #333; /*Color del thumb*/
    border-radius: 3.75px; /*Bordes redondeados*/
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #444; /*Cambia de color al pasar el mouse*/
}
  
::-webkit-scrollbar-button {
    display: none; /*Esto oculta las flechas de arriba y abajo*/
}

/**/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: #f8f9fa;
}

button,
.a-button {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    cursor: pointer;

    transition: color 0.3s ease, background-color 0.3s ease;
    text-transform: uppercase;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/**/
#svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/**/
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    padding: 30px 90px;
}

/**/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

/**/
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#toggle-button {
    /*border: 1px solid rgba(0, 0, 0, .1);*/
    /*box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);*/
    font-size: 24px;
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: 50%;
    background-color: transparent;
    transition: border .3s ease, box-shadow .3s ease, color .3s ease, transform .3s ease;
}

#toggle-button:hover {
    color:  rgba(255, 255, 255, .8);
}

#toggle-button.collapsed {
    border: none;
    box-shadow: none;
    color: #fff;
}

.login-cart-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-cart-nav a {
    display: flex;
    align-items: center;
    gap: 7.5px;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
    font-weight: 600;
    transform: color .3s ease;
}

.login-cart-nav a:hover {
    color: rgba(255, 255, 255, .8);
}

.login-cart-nav a span:last-child {
    font-size: 15px;
}

.login-cart-nav a i {
    font-size: 18px;
}

#cart-button > span {
    position: relative;
}

#cart-count {
    position: absolute;
    right: -7.5px;
    top: -20px;

    background-color: red;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);

    padding: 3.75px;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #fff;
    font-size: 13px;
}

/**/
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    background-color: #1e293b;
    padding-top: 75px;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 3;
}

.sidebar.collapsed {
    width: 240px;
}

.lista-navegacion {
    display: flex;
    align-items: start;
    flex-direction: column;
    /*gap: 30px;*/
}

.lista-navegacion li {
    width: 100%;
    border-top: 1px solid #2d3a47;
}

.lista-navegacion li:last-child {
    border-bottom: 1px solid #2d3a47;
}

.lista-navegacion li a {
    display: block;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color .3s ease;
}

.lista-navegacion li a:hover {
    background-color: #f85c5c;
}

/**/
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 15px 60px 30px 60px;
    background-image: url('hero.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
}

.hero > div {
    z-index: 2;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
}

.logo img {
    width: 100%;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.imagenes-hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 30px; /* Espacio entre columnas (ajústalo según necesites) */
    width: 100%; /* Se adapta al tamaño del contenedor padre */
}

.tarjeta-header {
    position: relative;
    text-align: center;
    transition: transform .3s ease;
}

.tarjeta-header:hover {
    transform: scale(1.03);
}

.tarjeta-header img {
    width: 100%;
    display: block;
}

.botones-hero {
    display: flex;
    align-items: center;
    gap: 15px;
}

.botones-hero button {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.botones-hero button:first-child {
    background-color: #f85c5c;
    color: #fff;
}

.botones-hero button:first-child:hover {
    background-color: #dc5453; /* Color más oscuro para el hover */
}

.botones-hero button:last-child {
    background-color: #000;
    color: #fff;
}

.botones-hero button:last-child:hover {
    background-color: #dc5453; /* Un tono gris suave para el hover */
}

/**/
.section-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.botones-filtros {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 60px;
    border-radius: 90px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.botones-filtros button {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7.5px;
    background-color: transparent;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.botones-filtros button:hover {
    background-color: #dc5453;
}

.botones-filtros button.active {
    background-color: #f85c5c;
    color: #fff;
}

.botones-filtros button img {
    width: 36px;
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 30px; /* Espacio entre columnas (ajústalo según necesites) */
    width: 100%; /* Se adapta al tamaño del contenedor padre */
    max-width: 1200px; /* Opcional: límite máximo de ancho */
    margin: 0 auto; /* Centrar si es necesario */
    margin-bottom: 30px;
}

.tarjeta-menu {
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*gap: 15px;*/
    background-color: #fff;
}

.tarjeta-menu img {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.info-burger {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7.5px;
    margin-bottom: 7.5px;
}

.info-burger p:first-child {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}

.info-burger p:last-child {
    color: #f85c5c;
    font-weight: 700;
    font-size: 18px;
}

.botones-burger {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.botones-burger button {
    padding: 3.75px;
    width: 36px;
    height: 36px;
    border: 1px solid #e0e0e0;
    border-radius: 7.5px;
    font-size: 18px;
}

.botones-burger button:first-child {
    background-color: #f85c5c;
    color: #fff
}

.botones-burger button:first-child:hover {
    background-color: #dc5453;
}

.botones-burger button:last-child {
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #e0e0e0;
}

.botones-burger button:last-child:hover {
    background-color: #e0e0e0;
}

.paginador {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.paginador button {
    padding: 3.75px;
    width: 36px;
    height: 36px;
    background-color: #fff;
    color: #000;
    border: 1px solid #e0e0e0;
    border-radius: 7.5px;
    font-size: 18px;
}

.paginador button:hover {
    background-color: #f8f9fa;
}

.paginador button.activo {
    background-color: #f85c5c;
    color: #fff;
}

.paginador button.activo:hover {
    background-color: #dc5453;
}

/**/
.ofertas-especiales > header,
.contacto-section > header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.ofertas-especiales > header h2,
.contacto-section > header h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #1e293b;
}

.ofertas-especiales > header hr,
.contacto-section > header hr {
    border: none;
    height: 1px;
    background-color: #e0e0e0; /* Gris claro */
    flex: 1;
}

.ofertas-especiales-main {
    /*display: flex;
    align-items: start;
    justify-content: start;
    gap: 30px;*/
    display: flex;
    gap: 30px;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Hace que las tarjetas se ajusten en el scroll */
    padding-bottom: 45px; /* Espaciado para que no corte la sombra del botón */
}

.ofertas-especiales-main::-webkit-scrollbar {
    height: 5px; /*Ancho de la barra de desplazamiento*/
    border-radius: 7.5px;
}
  
.ofertas-especiales-main::-webkit-scrollbar-track {
    background-color: #e0e0e0; /*Color de fondo del track*/
}
  
.ofertas-especiales-main::-webkit-scrollbar-thumb {
    background-color: #f85c5c; /*Color del thumb*/
    border-radius: 3.75px; /*Bordes redondeados*/
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #1e293b; /*Cambia de color al pasar el mouse*/
}
  
.ofertas-especiales-main::-webkit-scrollbar-button {
    display: none; /*Esto oculta las flechas de arriba y abajo*/
}

.tarjeta-oferta {
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 45px;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    background-color: #fff;

    flex: 0 0 auto; /* Mantiene el tamaño sin contraerse */
    width: 600px; /* Tamaño fijo para cada tarjeta */
    scroll-snap-align: center;
}

.tarjeta-oferta > div {
    width: calc(50%);
    max-width: 300px;
}

.info-oferta {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}

.info-oferta h3 {
    font-size: 24px;
    color: #1e293b;
    font-weight: 700;
}

.info-oferta > div span {
    display: flex;
    gap: 7.5px;
}

.info-oferta i {
    font-size: 21px;
    width: 24px;
    text-align: center;
    color: #f85c5c;
}

.info-oferta p {
    font-size: 18px;
    color: #374151;
}

.info-oferta p strong {
    color: #1e293b;
    font-size: 21px;
}

.tarjeta-oferta img {
    width: 100%;
    display: block;
}

.tarjeta-oferta button {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #f85c5c;
    color: #fff;
    position: absolute; /* El botón se posiciona absolutamente dentro del contenedor */
    bottom: -27px; /* Coloca la mitad del botón fuera del contenedor */
    left: 50%; /* Mueve el botón al 50% del ancho del contenedor */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
}

/**/
.info-servicios {
}

.servicios-main {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.servicios-main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    max-width: 240px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.servicios-main > div img {
    width: 75px;
    margin-bottom: 15px;
}

.servicios-main > div h3 {
    font-size: 21px;
    color: #1e293b;
    margin-bottom: 7.5px;
}

.servicios-main > div p {
    font-size: 16px;
    color: #64748b;
}

/*****************/
/*****************/
/*Contact section*/
/*****************/
/*****************/
.seccion-contacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  
  .seccion-contacto > div {
    width: calc(50%);
    max-width: calc(50%);
  }
  
  .info-contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .info-contacto p {
    display: flex;
    align-items: center;
    text-align: center;
    /*justify-content: space-between;*/
    font-size: 21px/*1.3125rem*/; /*21px*/
    font-weight: 400;
    color: #000;
    margin-bottom: 7.5px; /*9px*/
    /*border: 1px solid red;*/
  }
  
  .info-contacto p:last-child {
    margin-bottom: 0;
  }
  
  .info-contacto i {
    margin-right: 3.75px; /*9px*/
    font-size: 21px; /*21px*/
    display: inline-block;
    /*width: 1.3125rem;*/ /*21px*/
  }
  
  .map-container iframe {
    width: 100%;
    /*height: auto;*/
    max-height: 360px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
  }
  


  /******************/
/******************/
/*Principal-footer*/
/******************/
/******************/
.principal-footer {
    width: 100%;
    background-color: #1e293b;
  }   
  
  .footer-content {
    display: flex;
    gap: 7.5px;
    align-items: end;
  }
  
  .footer-content > div {
    width: calc(50%);
    max-width: calc(50%);
  }
  
  .newsletter-footer h4 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 1);
  }
  
  .newsletter-footer p {
    color: #ffffff;
    font-size: /*1.125rem*/18px; /*18px*/
    font-weight: 400;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
  }
  
  .footer-nav {
    width: 100%;
  }
  
  .footer-nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.5px;
  }
  
  .footer-nav span {
    color: #fff;
    display: block;
  }
  
  .footer-nav > ul > li > a {
    font-size: 15px; /*15px*/
    color: #fff;
    font-weight: 500;
    padding: 0.1875rem; /*3px*/
    transition: color 0.3s ease;
  }
  
  .email-container {
    display: flex;
    align-items: center;
    margin: 7.5px 0;
  }
  
  .email-container input {
    border: none;
    padding: 7.5px;
    height: 100%;
    font-size: 18px;
    border-radius: 6px 0 0 6px;
  }
  
  .email-container input::placeholder {
    color: #aaa;
  }
  
  .email-container button {
    background-color: #000;
    color: white;
    /*border: none;
    outline: none;*/
    padding: 7.5px;
    /*cursor: pointer;*/
    font-size: 18px;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.3s ease;
  }
  
  .email-container button:hover {
    background-color: #333;
  }
  
  .footer-nav > ul > li {
    margin-bottom: 7.5px; /*12px*/
    display: inline-block;
  }
  
  .footer-nav > ul > li > a:hover {
    color: #ee6c4d;
  }
  
  .social-media-footer {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .social-media-footer li {
    margin-right: 0.9375rem; /*15px*/
  }
  
  .social-media-footer li:last-child {
    margin-right: 0;
  }
  
  .social-media-footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 15px; /*18px*/
    width: 30px; /*36px*/
    height: 30px; /*36px*/
    background-color: #fff;
    padding: 0.375rem; /*6px*/
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .social-media-footer a:hover {
    background-color: #000;
    color: #fff;
  }
  
  .footer-divisor {
    height: 0.125rem; /*2px*/
    border-radius: 0.375rem; /*6px*/
    background-color: #fff;
    margin: 7.5px auto; /*30px*/
    border: none;
    width: 100%;
    max-width: 1440px;
  }
  
  .final-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .final-page p {
    font-size: 0.9375rem; /*15px*/
    color: #fff;
    font-weight: 600;
  }
  
  .final-page p a {
    color: #ee6c4d;
  }